TcpDxe: TCP deadlock after recovering from ZeroWindow (Bugzilla Bug 486)

This issue was created automatically with [bugzilla2github](https://github.com/makubacki/bugzilla2github/tree/bz2gh_tianocore)
# Bugzilla Bug 486
Date: 2017-04-14T09:17:37+00:00
From: Andrey Tepin &lt;<atepin>&gt;
To:   sfu5 &lt;<siyuan.fu>&gt;
CC:   hot.tian, siyuan.fu

Last updated: 2017-05-08T22:00:16+00:00


## Comment 1827
Date: 2017-04-14 09:17:37 +0000
From: Andrey Tepin &lt;<atepin>&gt;

- Industry Specification: ---
- Release Observed: EDK II Master
- Releases to Fix: ['EDK II Master', 'UDK 2017']
- Target OS: ---
- Bugzilla Assignee(s): sfu5 &lt;<siyuan.fu>&gt;

When sending huge amounts of data from uefi client to some server, at some point server can reduce its offered TCP window size due to high load. After server reopens its window we get a TCP deadlock (server ACKs proper segment, while uefi client discards it for future ACK). I believe, this is happening, because uefi client thinks that server shrunk its receive buffer, when, in fact, it only reduced window size.

File: NetworkPkg/TcpDxe/TcpInput.c
1272:   if (TCP_SEQ_LT (Tcb-&gt;SndWl1, Seg-&gt;Seq) ||
1273:       ((Tcb-&gt;SndWl1 == Seg-&gt;Seq) &amp;&amp; TCP_SEQ_LEQ (Tcb-&gt;SndWl2, Seg-&gt;Ack)))
1274:   {
1275: 
1276:     Right = Seg-&gt;Ack + Seg-&gt;Wnd;
.........
1308:       if (TCP_SEQ_LT (Right, Tcb-&gt;SndNxt)) {
1309: 
1310:         Tcb-&gt;SndNxt = Right;
1311: 
1312:         if (Right == Tcb-&gt;SndUna) {
1313: 
1314:           TcpClearTimer (Tcb, TCP_TIMER_REXMIT);
1315:           TcpSetProbeTimer (Tcb);
1316:         }
1317:       }

Line 1308 checks usable window and when condition in this line is triggered it moves right window edge to the left. I think the values from TCB should be used here to check for negative usable window.

There is also a discussion about this bug in edk2-devel mailing list (though initially proposed patch seems to be incorrect): https://lists.01.org/pipermail/edk2-devel/2017-April/009509.html

Example of actual deadlock provided in attachment.
In frames 4490-4496 server reduces window size from 24576 to 5623, while ACKing relatively old packets (from 566378 to 585202). Client then sends packet with SEQ 589546 (frame 4496). In frame 4497 server ACKs segment from frame 4489 and in next frame it ACKs segment from frame 4496 with ACK=590994 (which means he accepted all 1448 data bytes from 4496 frame?). But on all zero window size packets (frames 4498-4515) client replies with SEQ 590754 and after window update (frame 4516) we have a deadlock starting from frame 4517.



## Comment 1828
Date: 2017-04-14 09:19:44 +0000
From: Andrey Tepin &lt;<atepin>&gt;

Created attachment 52
wireshark capture log

Attachment: [BZ-52-s1.log](https://github.com/tianocore/user-attachments/raw/refs/heads/main/tianocore/edk2/BZ-52-s1.log)



## Comment 1844
Date: 2017-04-18 01:06:26 +0000
From: sfu5 &lt;<siyuan.fu>&gt;

Investigation Result:

The problem is introduced by supporting TCP window scale option in RFC1323, which has been obsoleted by RFC7323 now. 

RFC1323 section 2.4 clearly described this issue and explicitly gave the mitigation method for bot sender/receiver side.
https://tools.ietf.org/html/rfc7323#section-2.4

To fix the problem, we need to evaluate RFC7323 and provide a new patch accordingly.



## Comment 2010
Date: 2017-05-08 20:54:10 +0000
From: sfu5 &lt;<siyuan.fu>&gt;

Patch committed to edk2:
2d5afbdad1bbe2663917c0b3ad06753bbf128c6c
207b3d2b0b7db33bd65e1943a66d7ee9b7132697
3696ceaecb03fc8d66988649506f5f22a6526d1e
ca12a0c83b7b889fc807cb2dd47356f0fd1253d6



## Comment 2011
Date: 2017-05-08 22:00:16 +0000
From: sfu5 &lt;<siyuan.fu>&gt;

Patches sync to UDK2017 branch:
b583486b14c9549c3c84e48f67ef7f70ffc5102b
66dcf570a692d115c1a4df0c965dc483fb882819
a28adad90616296f92ad8a62317c8bdfce829bd1
82729eef4c58ffac613ac22b7fb8b723a9043d15

