RFC 7440 - TFTP windowsize option support (Bugzilla Bug 886)

This issue was created automatically with [bugzilla2github](https://github.com/makubacki/bugzilla2github/tree/bz2gh_tianocore)
# Bugzilla Bug 886
Date: 2018-03-06T05:32:31+00:00
From: Patrick Masotta &lt;<masottaus>&gt;
To:   @jiaxinwu
CC:   @jiaxinwu, @lersek, yonghong.zhu

Last updated: 2018-09-29T04:26:29+00:00


## Comment 3658
Date: 2018-03-06 05:32:31 +0000
From: Patrick Masotta &lt;<masottaus>&gt;

- Industry Specification: ---
- Releases to Fix: EDK II Master
- Target OS: ---
- Bugzilla Assignee(s): @jiaxinwu

TFTP is massively used in the early stages of network boot/installation scenarios.

Original RFC 1350 defines TFTP transfers with blocksize=512 and windowsize=1.
RFC 2348 allows a client to negotiate a bigger blocksize with compatible servers leading to faster transfers
RFC 7440 allows a client to negotiate a bigger windowsize with compatible servers leading to faster transfers.

Today an UEFI PXE client (i.e. VMWare) negotiates blocksize=1468.
Today an UEFI PXE client does no negotiate windowsize (windowsize=1).

I think the UEFI TFTP client modules should by default propose the conservative value windowsize=4. Old non-compliant TFTP servers will just ignore the RFC 7440 option and transfer w/o any extra delay following plain RFC 1350, but the compliant TFTP servers will offer an average 70% transfer speed improvement.
Windowsize based TFTP speed improvement is more robust than the blocksize based improvement specially when a big blocksize can lead to Ethernet packet sizes larger than the smallest data path MTU leading to (many times poorly handled) (UDP) IP fragmentation.

Currently:
Microsoft TFTP Server and their Boot Managers talk RFC 7440

Red Hat Enterprise Linux v7.5 just added RFC 7440 support.
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7-beta/html-single/7.5_release_notes/index

Serva TFTP server module parses RFC 7440
https://www.vercot.com/~serva/default.html


Here at Tianocore there are 2 RFC 7440 patches (currently not committed to edk2 repository).

https://lists.01.org/pipermail/edk2-devel/2017-March/008624.html
https://lists.01.org/pipermail/edk2-devel/2017-March/008655.html



## Comment 3669
Date: 2018-03-08 19:05:25 +0000
From: Yonghong Zhu &lt;<yonghong.zhu>&gt;

Bug scrub: Assign to module owner to investigate first.



## Comment 4079
Date: 2018-06-06 22:28:46 +0000
From: sfu5 &lt;<siyuan.fu>&gt;

Transfer to Wu, Jiaxin who has the original patch for TFTP windowsize option.



## Comment 4988
Date: 2018-09-17 00:05:14 +0000
From: @jiaxinwu

After discussion, we decided to support the TFTP windowsize option for the read request operation (Currently, the windowsize for write request operation is not in the supported scope since now there is no real use cases).

For the upper application, e.g. TFTP shell command and UEFI PXE driver, we will also provide the patches to support the windowsize so as to benefit the TFTP download performance.

thanks,
Jiaxin



## Comment 5007
Date: 2018-09-18 12:35:00 +0000
From: Patrick Masotta &lt;<masottaus>&gt;

Great news. 
Please let us know when the mentioned patches are officially committed.

Thanks, 
Patrick



## Comment 5114
Date: 2018-09-26 21:11:21 +0000
From: @jiaxinwu

Commit version:
https://github.com/tianocore/edk2/commit/6c047cfab116c2a0187d959aee9e61ac902d7d50
https://github.com/tianocore/edk2/commit/f3427f12a4a53b8cc32a6816934dbcf59072c1db
https://github.com/tianocore/edk2/commit/5c6fdb5e8345840224b7fa77f1e1b4650b5b0769
https://github.com/tianocore/edk2/commit/2fff697f1eaaeba1e24fe0af381f39dc64b85061
https://github.com/tianocore/edk2/commit/160b082e64a8336ac23eb4c28216a6097e6ba648



## Comment 5132
Date: 2018-09-27 06:39:11 +0000
From: @lersek

Jiaxin, thanks for this nice feature -- can you please reference this TianoCore BZ at &lt;https://github.com/tianocore/tianocore.github.io/wiki/EDK-II-Release-Planning&gt;? Thanks!



## Comment 5152
Date: 2018-09-28 20:34:33 +0000
From: @jiaxinwu

Ok, I will do that.



## Comment 5158
Date: 2018-09-29 04:26:29 +0000
From: @jiaxinwu

(In reply to Laszlo Ersek from comment #6)
&gt; Jiaxin, thanks for this nice feature -- can you please reference this
&gt; TianoCore BZ at
&gt; &lt;https://github.com/tianocore/tianocore.github.io/wiki/EDK-II-Release-
&gt; Planning&gt;? Thanks!

Done.

