Add support for RSASSA-PSS signature scheme in Crypto package (Bugzilla Bug 3314)

This issue was created automatically with [bugzilla2github](https://github.com/makubacki/bugzilla2github/tree/bz2gh_tianocore)
# Bugzilla Bug 3314
Date: 2021-04-09T18:53:45+00:00
From: Sachin Agrawal &lt;<sachin.agrawal>&gt;
To:   Sachin Agrawal &lt;<sachin.agrawal>&gt;
CC:   @lgao4, jian.j.wang, sachin.agrawal

Last updated: 2021-05-13T23:45:32+00:00


## Comment 15586
Date: 2021-04-09 18:53:45 +0000
From: Sachin Agrawal &lt;<sachin.agrawal>&gt;

- Industry Specification: ---
- Release Observed: EDK II Master
- Releases to Fix: EDK II Master
- Target OS: ---
- Bugzilla Assignee(s): Sachin Agrawal &lt;<sachin.agrawal>&gt;

EDK2 Crypto package currently have support for RSASSA-PKCS1-v1_5 verification.
An alternative to this is RSASSA-PSS signature scheme. It is provably secure and is recommended padding scheme in newer applications. See RFC 8017 (Section 8). 

For Intel&apos;s IOT platforms which have a long life and support model, it is a requirement to support higher strength crypto algorithms.

Therefore, we want to add support for RSASSA-PSS signature scheme in EDK2 Crypto package.



## Comment 15657
Date: 2021-04-13 21:58:44 +0000
From: @lgao4

Sachin: please go ahead.



## Comment 16058
Date: 2021-05-13 23:45:32 +0000
From: Wang, Jian J &lt;<jian.j.wang>&gt;

Pushed @ https://github.com/tianocore/edk2/commit/22ac5cc9d9db34056f7c97e994fd9def683ebb2e
Reviewed @ https://edk2.groups.io/g/devel/message/74755

