Bug 08 - edk2/NetworkPkg: Predictable TCP ISNs (Bugzilla Bug 4541)

This issue was created automatically with [bugzilla2github](https://github.com/makubacki/bugzilla2github/tree/bz2gh_tianocore)
# Bugzilla Bug 4541
Date: 2023-08-28T14:25:20+00:00
From: Brian Mullen &lt;<BrianM>&gt;
To:   Santhosh Kumar V &lt;<santhoshkumarv>&gt;
CC:   @Flickdm, @lgao4, @jkmathews, louis.shen, @SaloniKasbekar, santhoshkumarv, @spbrogan, sivaramann, @terryplee, @Zclarkwilliams

Last updated: 2024-05-26T22:07:58+00:00


## Comment 21868
Date: 2023-08-28 14:25:20 +0000
From: Brian Mullen &lt;<BrianM>&gt;

- Industry Specification: ---
- Release Observed: EDK II Master
- Releases to Fix: EDK II Master
- Target OS: ---
- Bugzilla Assignee(s): Santhosh Kumar V &lt;<santhoshkumarv>&gt;

Created attachment 1404
Vuln details

See &quot;Bug 8&quot; description in attached &quot;Vuln details&quot; PDF. 

This is a child BZ of
https://bugzilla.tianocore.org/show_bug.cgi?id=4518

Attachment: [BZ-1404-Quarkslab-20230803-EDK2-ipstack-vulns.pdf](https://github.com/tianocore/user-attachments/raw/refs/heads/main/tianocore/edk2/BZ-1404-Quarkslab-20230803-EDK2-ipstack-vulns.pdf)



## Comment 22276
Date: 2023-12-15 05:11:57 +0000
From: Santhosh Kumar V &lt;<santhoshkumarv>&gt;

Zclarkwilliams.

If we introduce hash algorithms to generate random number, will it lead any time.eout during tcp communication?.

Can we use rnglib library function to generate random.number?

Thanks
Santhosh.



## Comment 22282
Date: 2023-12-20 04:53:48 +0000
From: Santhosh Kumar V &lt;<santhoshkumarv>&gt;

Saloni:

If we introduce hash algorithms to generate random number, will it lead any timee out during tcp communication?

Can we use rnglib library function to generate random number which shall mitigate the Vlunerability?

Thanks
Santhosh.



## Comment 22324
Date: 2024-01-04 17:59:18 +0000
From: @SaloniKasbekar

How long is the random number generator expected to take? I dont think it should be long enough to cause a TCP timeout.

I see we are already using NET_RANDOM () in another file to init mTcpGlobalIss. Is there a reason why we dont want to re-use the same?
  Seed            = NetRandomInitSeed ();
  mTcpGlobalIss   = NET_RANDOM (Seed) % mTcpGlobalIss;



## Comment 22325
Date: 2024-01-04 18:02:15 +0000
From: @SaloniKasbekar

Nevermind, i just noticed that NetRandomInitSeed() is called out in Bug9 as another vulnerability.

Yes, i think it would be better to use the Rng Lib



## Comment 22356
Date: 2024-01-12 10:48:18 +0000
From: Santhosh Kumar V &lt;<santhoshkumarv>&gt;

Created attachment 1460
Patch to address the Vulnerability on predictable TCP INS

Saloni:

can you please review the patch and feedback.

Santhosh

Attachment: [BZ-1460-Vulnerability_Patch.patch](https://github.com/tianocore/user-attachments/raw/refs/heads/main/tianocore/edk2/BZ-1460-Vulnerability_Patch.patch)



## Comment 22371
Date: 2024-01-17 01:34:26 +0000
From: Santhosh Kumar V &lt;<santhoshkumarv>&gt;

Saloni:

Can you please review the patch and feedback.

Santhosh



## Comment 22424
Date: 2024-01-25 18:03:26 +0000
From: @SaloniKasbekar

Changes look good to me. Please fix the alignment issues to resolve uncrustify failures before sending out the patch for community review.



## Comment 22442
Date: 2024-01-30 15:21:49 +0000
From: @Flickdm

Created attachment 1465
Alternative Patch for TCBZ4541

This is an alternative patch that implements RFC 9293 Section 3.4.1. The downsides to this patch is that a platform must provide the Hash2ServiceBinging protocol if they don&apos;t already.

Attachment: [BZ-1465-0001-SECURITY-PATCH-TCBZ4541-Patch.patch](https://github.com/tianocore/user-attachments/raw/refs/heads/main/tianocore/edk2/BZ-1465-0001-SECURITY-PATCH-TCBZ4541-Patch.patch)



## Comment 22443
Date: 2024-01-30 15:25:17 +0000
From: @Flickdm

Created attachment 1466
Alternative Patch for TCBZ4541

removed the MU_CHANGE tags

Attachment: [BZ-1466-0001-SECURITY-PATCH-TCBZ4541-Patch.patch](https://github.com/tianocore/user-attachments/raw/refs/heads/main/tianocore/edk2/BZ-1466-0001-SECURITY-PATCH-TCBZ4541-Patch.patch)



## Comment 22488
Date: 2024-02-01 00:49:22 +0000
From: @SaloniKasbekar

Doug,

I see fewer dependencies with Santhosh&apos;s patch. Do you have any insights to the advantages of using Hash2ServiceBinding instead?



## Comment 22489
Date: 2024-02-01 01:24:31 +0000
From: @Flickdm

(In reply to Saloni Kasbekar from comment #10)
&gt; Doug,
&gt; 
&gt; I see fewer dependencies with Santhosh&apos;s patch. Do you have any insights to
&gt; the advantages of using Hash2ServiceBinding instead?

This is where it&apos;s completely fair to say &quot;This is not a general purpose TCP/IP Stack and if you&apos;re using it for that purpose your doing something wrong.&quot;

It is my understanding (And I&apos;m not really a networking guy - so take this with a grain of salt) that rfc9293 section-3.4.1 was trying to address preventing an attacker from guessing the ISN (Initial sequence number) while also handling the following:

1. Initial Security Number Wraparounds - where two connections may share the same ISN
2. Ambiguity in connection identification - where one connection may get dropped and when it comes back has a different isn (or a now shares an isn)
3. Lack of synchronization in the TCP three way handshake.
4. handling reincarnated connections (using a hash implementation they can recover)

Now that being said, I initially thought about doing it the way Santhosh is doing it. The limited nature of the TCP/IP Stack made me less concerned about ISN wraparounds / ambiguity and reincarnated connections. 

However every networking stack I looked did this the same way

ISN = M + F(localip, localport, remoteip, remoteport, secretkey)

Example: https://github.com/lwip-tcpip/lwip/blob/347054b329d141b858cc7180bf2aa23c672dc6d7/contrib/addons/tcp_isn/tcp_isn.c#L119

So I figured that since I&apos;m not really a networking guy I would rather implement the industry standard and intentionally break compatibility in favor of security. This is where I would really prefer if platforms provided MD5 hash since it&apos;s much faster and is an appropriate choice for this type of application.

All that being said I think for the purpose of mitigating this vulnerability and being the most compatible by deferring to the platform random number generator should be sufficient.



## Comment 22496
Date: 2024-02-01 17:38:05 +0000
From: @SaloniKasbekar

An option is to locate the Hash2ServiceBinding and proceed with your implementation if it exists, but imo it might be better to implement Santhosh&apos;s solution as a base solution to avoid exposing the vulnerability on platforms that don&apos;t implement the protocol.



## Comment 22546
Date: 2024-02-07 18:01:29 +0000
From: @terryplee

Santosh&apos;s patch uses only random number generation.  There is concern that with relying on only random numbers, there could be sequence number overlap (likelihood is small but possible).  Doug&apos;s patch using RFC9293 is preferable.  However, Doug&apos;s patch uses MD5 hash if available on a platform.  There are still valid uses for MD5, but MD5 has been deprecated for security uses.  It&apos;d be better to bypass MD5 in favor of stronger hash algorithms.



## Comment 22548
Date: 2024-02-07 18:10:34 +0000
From: @Flickdm

(In reply to Terry Lee from comment #13)
&gt; Santosh&apos;s patch uses only random number generation.  There is concern that
&gt; with relying on only random numbers, there could be sequence number overlap
&gt; (likelihood is small but possible).  Doug&apos;s patch using RFC9293 is
&gt; preferable.  However, Doug&apos;s patch uses MD5 hash if available on a platform.
&gt; There are still valid uses for MD5, but MD5 has been deprecated for security
&gt; uses.  It&apos;d be better to bypass MD5 in favor of stronger hash algorithms.

Terry,

I attempt to use MD5 if it exists as you mention and fallback to SHA256. I&apos;m okay with using SHA256 by default but since we need only the size of TCP_SEQNO (4 Bytes) I would prefer to use MD5 for performance but I haven&apos;t seen any issue using SHA256 in my testing.



## Comment 22549
Date: 2024-02-07 22:42:15 +0000
From: @spbrogan

@Saloni - I would also prefer to see the Alternative Patch used as it is aligned with the RFC that was mentioned in the CVE.  Not only that but RandomLib implementation also includes challenges for many platforms and thus both of these solutions require careful and knowledgeable integration by platforms.  Until the next CVE there will not be a better opportunity for platform owners to get the time and attention to integrate this patch, so expecting that at a later time edk2 would switch to a more robust solution (with dependency on hash service) because the community of platform developers would be ready is irrational.  Edk2 is full of solutions where the developers had every intention to come back and fix right, but never did.



## Comment 22553
Date: 2024-02-08 17:01:51 +0000
From: @terryplee

(In reply to Doug Flick from comment #14)
&gt; (In reply to Terry Lee from comment #13)
&gt; &gt; Santosh&apos;s patch uses only random number generation.  There is concern that
&gt; &gt; with relying on only random numbers, there could be sequence number overlap
&gt; &gt; (likelihood is small but possible).  Doug&apos;s patch using RFC9293 is
&gt; &gt; preferable.  However, Doug&apos;s patch uses MD5 hash if available on a platform.
&gt; &gt; There are still valid uses for MD5, but MD5 has been deprecated for security
&gt; &gt; uses.  It&apos;d be better to bypass MD5 in favor of stronger hash algorithms.
&gt; 
&gt; Terry,
&gt; 
&gt; I attempt to use MD5 if it exists as you mention and fallback to SHA256. I&apos;m
&gt; okay with using SHA256 by default but since we need only the size of
&gt; TCP_SEQNO (4 Bytes) I would prefer to use MD5 for performance but I haven&apos;t
&gt; seen any issue using SHA256 in my testing.

I do not know the cryptographic strength implications of truncating MD5 to 4 bytes vs. truncating SHA-256 to 4 bytes.  However, since this is a security fix, it seems appropriate to follow security guidance that MD5 is unsuitable for security use.  If a platform&apos;s computational performance does not allow it to use secure implementation and achieve acceptable performance, I see it as a platform issue and not the source code implementation issue.



## Comment 22554
Date: 2024-02-08 17:59:29 +0000
From: @Flickdm

Created attachment 1473
Updated Alternative Patch

Removes MD5

Attachment: [BZ-1473-0001-SECURITY-PATCH-TCBZ4541-Patch.patch](https://github.com/tianocore/user-attachments/raw/refs/heads/main/tianocore/edk2/BZ-1473-0001-SECURITY-PATCH-TCBZ4541-Patch.patch)



## Comment 22555
Date: 2024-02-08 18:00:49 +0000
From: @Flickdm

(In reply to Terry Lee from comment #16)
&gt; (In reply to Doug Flick from comment #14)
&gt; &gt; (In reply to Terry Lee from comment #13)
&gt; &gt; &gt; Santosh&apos;s patch uses only random number generation.  There is concern that
&gt; &gt; &gt; with relying on only random numbers, there could be sequence number overlap
&gt; &gt; &gt; (likelihood is small but possible).  Doug&apos;s patch using RFC9293 is
&gt; &gt; &gt; preferable.  However, Doug&apos;s patch uses MD5 hash if available on a platform.
&gt; &gt; &gt; There are still valid uses for MD5, but MD5 has been deprecated for security
&gt; &gt; &gt; uses.  It&apos;d be better to bypass MD5 in favor of stronger hash algorithms.
&gt; &gt; 
&gt; &gt; Terry,
&gt; &gt; 
&gt; &gt; I attempt to use MD5 if it exists as you mention and fallback to SHA256. I&apos;m
&gt; &gt; okay with using SHA256 by default but since we need only the size of
&gt; &gt; TCP_SEQNO (4 Bytes) I would prefer to use MD5 for performance but I haven&apos;t
&gt; &gt; seen any issue using SHA256 in my testing.
&gt; 
&gt; I do not know the cryptographic strength implications of truncating MD5 to 4
&gt; bytes vs. truncating SHA-256 to 4 bytes.  However, since this is a security
&gt; fix, it seems appropriate to follow security guidance that MD5 is unsuitable
&gt; for security use.  If a platform&apos;s computational performance does not allow
&gt; it to use secure implementation and achieve acceptable performance, I see it
&gt; as a platform issue and not the source code implementation issue.

Fair enough, I went ahead and removed MD5. I agree with you that the platform should be providing an adequate level of security.



## Comment 23059
Date: 2024-05-26 22:07:58 +0000
From: @lgao4

Merge in https://github.com/tianocore/edk2/pull/5582

