Issues in HttpDxe when there is huge data request send (Bugzilla Bug 895)

This issue was created automatically with [bugzilla2github](https://github.com/makubacki/bugzilla2github/tree/bz2gh_tianocore)
# Bugzilla Bug 895
Date: 2018-03-14T03:21:55+00:00
From: karunakar &lt;<karunakarp>&gt;
To:   @jiaxinwu
CC:   @jiaxinwu, karunakarp, siyuan.fu, ting.ye, yonghong.zhu

Last updated: 2018-08-15T00:56:07+00:00


## Comment 3695
Date: 2018-03-14 03:21:55 +0000
From: karunakar &lt;<karunakarp>&gt;

- Industry Specification: ---
- Releases to Fix: EDK II Master
- Target OS: ---
- Bugzilla Assignee(s): @jiaxinwu

Hi All,

I’m facing  2 issues in HttpDxe, please find the below details

1. ASSERT issue in HttpDxe
2. TlsProcessPacket() returns EFI_INVALID_PARAMETER when we send large amount(~300KB) of data using EfiHttpRequest() 

1. ASSERT issue in HttpDxe

[Issue Details]

EFI_STATUS
EFIAPI
TlsProcessMessage (
  IN     HTTP_PROTOCOL            *HttpInstance,
  IN     UINT8                    *Message,
  IN     UINTN                    MessageSize,
  IN     EFI_TLS_CRYPT_MODE       ProcessMode,
  IN OUT NET_FRAGMENT             *Fragment
  )
{
  EFI_STATUS                      Status;
  UINT8                           *Buffer;
  UINT32                          BufferSize;
  UINT32                          BytesCopied;
  EFI_TLS_FRAGMENT_DATA           *FragmentTable;
  UINT32                          FragmentCount;
  EFI_TLS_FRAGMENT_DATA           *OriginalFragmentTable;
  UINTN                           Index;
.
.
.
  Status = HttpInstance-&gt;Tls-&gt;ProcessPacket (
                                HttpInstance-&gt;Tls,
                                &amp;FragmentTable,
                                &amp;FragmentCount,
                                ProcessMode
                                );
  if (EFI_ERROR (Status)) {
    goto ON_EXIT;
  }
.
.
.
ON_EXIT:

  if (OriginalFragmentTable != NULL) {
    FreePool (OriginalFragmentTable);
    OriginalFragmentTable = NULL;
  }

  //
  // Caller has the responsibility to free the FragmentTable.
  //
  if (FragmentTable != NULL) {
    FreePool (FragmentTable);
    FragmentTable = NULL;
  }

  return Status;
}


1. When HttpInstance-&gt;Tls-&gt;ProcessPacket() returns EFI_INVALID_PARAMETER, OriginalFragmentTable and FragmentTable both the Pointers pointing the same memory Location
   OriginalFragmentTable pointer will be freed first and assigned with NULL, But FragmentTable still having same address but the memory location is freed.
   Hence FreePool (FragmentTable); cause the issue.

[Solution]
Anyway we need to handle ProcessPacket() failure case
We can add a condition check to resolve this issue, like below
  
ON_EXIT:

  if (OriginalFragmentTable != NULL) {
+      if( FragmentTable == OriginalFragmentTable) {     
+          FragmentTable = NULL;
+      }
    FreePool (OriginalFragmentTable);
    OriginalFragmentTable = NULL;
  }


2. TlsProcessPacket() returns EFI_INVALID_PARAMETER when we send large amount of data using EfiHttpRequest() 

TlsProcessPacket() -&gt; TlsEncryptPacket()

EFI_STATUS
TlsEncryptPacket (
  IN     TLS_INSTANCE                  *TlsInstance,
  IN OUT EFI_TLS_FRAGMENT_DATA         **FragmentTable,
  IN     UINT32                        *FragmentCount
  )
{
  EFI_STATUS          Status;
  UINTN               Index;
.
.
.

  while ((UINTN) BufferInPtr &lt; (UINTN) BufferIn + BufferInSize) {
    RecordHeaderIn = (TLS_RECORD_HEADER *) BufferInPtr;

    if (RecordHeaderIn-&gt;ContentType != TlsContentTypeApplicationData) {
      Status = EFI_INVALID_PARAMETER;
      goto ERROR;
    }

.
.
.
}

[Issue]
For the first time I&apos;m getting ContentType as TlsContentTypeApplicationData, But next time onwards getting 0x20(32) and 0 both are unassigned values, hence returning EFI_INVALID_PARAMETER


I think network stack is failing to handle huge data. I hope network stack trying to split and send, somehow the split doesn&apos;t taken care of header properly.

Could you please provide your comments/suggestions on this

Thanks &amp; Regards,
Karunakar



## Comment 3699
Date: 2018-03-14 11:25:30 +0000
From: karunakar &lt;<karunakarp>&gt;

typedef struct {
  UINT8                   ContentType;
  EFI_TLS_VERSION         Version;
  UINT16                  Length;
} TLS_RECORD_HEADER;


Length is UINT16, But the Length value coming from HttpRequest is greater than 2 bytes, This may causing the issue.



## Comment 3702
Date: 2018-03-14 22:37:20 +0000
From: @jiaxinwu

Identified it&apos;s the HttpDxe driver bug, which doesn&apos;t handle the large data request via HTTPS channel correctly.

We will provide the patch to resolve the issue later for your verification.

Thanks,
Jiaxin



## Comment 3703
Date: 2018-03-14 23:23:10 +0000
From: @jiaxinwu


More input:
The definition of TLS_RECORD_HEADER is correct/mandatory to use the UINT16 type for Length since it&apos;s already declaried in RFC RFC5246 section 6.2.1.                

typedef struct {
  UINT8                   ContentType;
  EFI_TLS_VERSION         Version;
  UINT16                  Length;
} TLS_RECORD_HEADER;


length
The length (in bytes) of the following TLSPlaintext.fragment. The
length MUST NOT exceed 2^14.

So, the caller of HttpDxe doesn&apos;t follow the RFC definitions, then error returns from TLS driver. 

Thanks,
Jiaxin



## Comment 3706
Date: 2018-03-15 06:50:41 +0000
From: @jiaxinwu

Created attachment 151
[Patch 1/3]

[Patch 1/3] MdePkg/Tls1.h: Add TLS record header length and max
 payload length.

Attachment: [BZ-151-0001-MdePkg-Tls1.h-Add-TLS-record-header-length-and-max-p.patch](https://github.com/tianocore/user-attachments/raw/refs/heads/main/tianocore/edk2/BZ-151-0001-MdePkg-Tls1.h-Add-TLS-record-header-length-and-max-p.patch)



## Comment 3707
Date: 2018-03-15 06:51:34 +0000
From: @jiaxinwu

Created attachment 152
[Patch 2/3]

[Patch 2/3] NetworkPkg/TlsDxe: Handle the multiple TLS record
 messages encryption/decryption.

Attachment: [BZ-152-0002-NetworkPkg-TlsDxe-Handle-the-multiple-TLS-record-mes.patch](https://github.com/tianocore/user-attachments/raw/refs/heads/main/tianocore/edk2/BZ-152-0002-NetworkPkg-TlsDxe-Handle-the-multiple-TLS-record-mes.patch)



## Comment 3708
Date: 2018-03-15 06:52:19 +0000
From: @jiaxinwu

Created attachment 153
[Patch 3/3]

[Patch 3/3] NetworkPkg/HttpDxe: Handle the large data request via
 HTTPS channel.

Attachment: [BZ-153-0003-NetworkPkg-HttpDxe-Handle-the-large-data-request-via.patch](https://github.com/tianocore/user-attachments/raw/refs/heads/main/tianocore/edk2/BZ-153-0003-NetworkPkg-HttpDxe-Handle-the-large-data-request-via.patch)



## Comment 3709
Date: 2018-03-15 06:52:52 +0000
From: @jiaxinwu


Hi Karunakar,

Please help to verify the attached patches, then feedback to me whether it can resolve the issue.

Thanks,
Jiaxin



## Comment 3715
Date: 2018-03-15 11:09:51 +0000
From: karunakar &lt;<karunakarp>&gt;

Hi Jiaxin,

1. There is a build error, conversion from &apos;UINTN&apos; to &apos;UINT32&apos;, possible loss of data
We need to to typecast to UINT32
HttpTransmitTcp()
{
.
.
.

 RecordCount = TxStringLen / TLS_PLAINTEXT_RECORD_MAX_PAYLOAD_LENGTH + 1;
//We need to to typecast it to UINT32 
.
.
.
}

2. There is ASSERT issue after TlsEncryptPacket Success

TlsProcessPacket: TlsEncryptPacket status Success
ASSERT d:\Pro\MdeModulePkg\Core\Dxe\Mem\Pool.c(693): CR has Bad Signature

Sometimes also face ASSERT after TlsDecryptPacket Success 
TlsProcessPacket: TlsEncryptPacket TlsDecryptPacket Success 
ASSERT d:\Pro\MdePkg\Library\BaseLib\String.c(1082): String != ((void *) 0)


Thanks,
Karunakar



## Comment 3720
Date: 2018-03-15 20:05:06 +0000
From: Yonghong Zhu &lt;<yonghong.zhu>&gt;

Bug scrub: Assign to module owner



## Comment 4581
Date: 2018-08-15 00:56:07 +0000
From: @jiaxinwu

The fixed commits are:

https://github.com/tianocore/edk2/commit/cb3350ec62b9649cd699328710928b2c25e9a1bf

https://github.com/tianocore/edk2/commit/07bd82d42bab4defd777dc21b3aa627469dc347e

