Arrays might use invalid index (Bugzilla Bug 2614)

This issue was created automatically with [bugzilla2github](https://github.com/makubacki/bugzilla2github/tree/bz2gh_tianocore)
# Bugzilla Bug 2614
Date: 2020-03-23T02:38:24+00:00
From: shenglei.zhang
To:   @mdkinney
CC:   maciej.rabeda

Last updated: 2020-05-20T05:24:20+00:00


## Comment 11764
Date: 2020-03-23 02:38:24 +0000
From: shenglei.zhang

- Industry Specification: ---
- Target OS: ---
- Bugzilla Assignee(s): @mdkinney

NetworkPkg\IScsiDxe\IScsiDhcp.c   line 129
Array &apos;TargetUrl&apos; of size 255 may use index value(s) 255..256

NetworkPkg\IScsiDxe\IScsiDhcp.c   line 168
Array &apos;TargetUrl&apos; of size 255 may use index value(s) 255..256



## Comment 11766
Date: 2020-03-23 08:53:55 +0000
From: Maciej Rabeda &lt;<maciej.rabeda>&gt;

Code reviewed - risk exists.
Moving to CONFIRMED.



## Comment 11770
Date: 2020-03-23 10:47:10 +0000
From: Maciej Rabeda &lt;<maciej.rabeda>&gt;

IScsiDhcpExtractRootPath() and IScsiDhcp6ExtractRootPath() from identified problematic lines process DHCP root-path. Lines identified are copying server name identified as DNS domain name.

According to RFC 1035, section 2.3.4 (https://www.freesoft.org/CIE/RFC/1035/9.htm), full domain name should be no longer than 255 octets. Furthermore, it should be not more than 253 readable characters (255 minus length and zero termination) - see https://devblogs.microsoft.com/oldnewthing/?p=7873.

IMHO, can easily fix this by turning &quot;&gt;&quot; into &quot;&gt;=&quot; in the lines identified.

if (Field-&gt;Len &gt;= sizeof (ConfigNvData-&gt;TargetUrl)) {...}



## Comment 12560
Date: 2020-05-20 05:24:20 +0000
From: Maciej Rabeda &lt;<maciej.rabeda>&gt;

Fixed.
Patch message: https://edk2.groups.io/g/devel/message/58045
Commit ID: 0f1946b6626e263c7f764c21cc241cc9faf8a1ae
PR: https://github.com/tianocore/edk2/pull/546

